{# app/Resources/views/homepage/index.html.twig #}
{% extends 'AppBundle::layout.html.twig'  %}

{% block title %}Conference Creation{% endblock%}

{% block body %}
	
	<header>
        <h1>Confernece Creation</h1>
    </header>

    <p>How to do events?</p>

    <form action="{{ path('_welcome') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.id) }}
        {{ form_row(form.name) }}
        {{ form_row(form.location) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.imgName) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>



    <!-- this is just a stub to show how views work. Replace this with Johnnies template for homepage -->
    <h1>Lucky Numbers: {{ luckyNumber }}</h1>
{% endblock %}