<!DOCTYPE html>

<!-- This file is a template for ALL other html.twig files. If there's anything that
     has to be included in all html files, include it here -->

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- overwrite this if you want to change the title of the page -->
        <title>{% block title %}Conference Management System{% endblock %}</title>

        <!-- the page icon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('images/smile.ico') }}" />

        {% block bootstrap_css %}
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        {% endblock %}

        {% block css %}
            <!-- MDL -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
            <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.blue-indigo.min.css" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endblock css %}

        {% block stylesheets %}
            <link href="{{ asset('stylesheets/styles.css') }}" rel="stylesheet" />
        {% endblock %}

    </head>


    <body>
		<div class = "cms mdl-color--grey-100 mdl-base">

            {% block header %}
                <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                    <header class="mdl-layout__header mdl-shadow--4dp">
                        <div class="mdl-layout__header-row">
                            <!-- Title -->
                            <span class="mdl-layout-title">Conference Management System</span>
                            <!-- Add spacer, to align navigation to the right -->
                            <div class="mdl-layout-spacer"></div>
                            <nav class="mdl-navigation">
                                <a class="mdl-navigation__link" href="/">Home</a>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li class="mdl-list__item">
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle')}}
                                    </li>
                                    <a class="mdl-navigation__link" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle')}}</a>
                                {% else %}
                                    <a class="mdl-navigation__link" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle')}}</a>
                                    <a class="mdl-navigation__link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle')}}</a>
                                {% endif %}
                            </nav>
                        </div>
                    </header>
                </div>
            {% endblock %}

            {% block drawer %}
                {# TODO: THIS IS BROKEN (I suspect it's there just not displayed properly, prob an HTML issue) #}
                {# TODO: only have the drawer if we're logged in #}
                {# if is_granted("IS_AUTHENTICATED_REMEMBERED") #}
                    <div class="mdl-layout__drawer">
                        <span class="mdl-layout-title">CMS</span>
                        <nav class="mdl-navigation">
                            <a class="mdl-navigation__link" href="">Your Conferences</a>
                            <a class="mdl-navigation__link" href="">Your Events</a>

                            {# TODO: check user privileges before displaying these #}
                            <a class="mdl-navigation__link" href="">Manage Conferences And Events</a>
                            <a class="mdl-navigation__link" href="">Manage Hotels</a>
                            <a class="mdl-navigation__link" href="">Manage Registrations</a>
                            <a class="mdl-navigation__link" href="">Manage User privileges</a>

                        </nav>
                    </div>
                {# endif #}
            {% endblock %}


            {# TODO: figure out how to flash messages work #}
            {% block messages %}
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {# TODO: figure out how to properly display form validation errors
            {% block errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endblock %}
            #}

            {% block body %}{% endblock %}

            {% block bootstrap_js %}
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
                <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
            {% endblock %}

            {% block javascript %}{% endblock %}

        </div>
    </body>
</html>