{# app/Resources/views/admin/transportation.html.twig #} 
{% extends 'base.html.twig' %} 

{% block title %}Transportation{% endblock%} 

{% block body %}

<main class="mdl-layout__content-admin-show">
  <div class="page-content mdl-grid">
    <div class="mdl-card admin-show-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
      <h2>Transportation Management</h2>

      <div class="mdl-card admin-details-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
          <h2 class="mdl-card__title-text">Arrival Time List</h2>
        </div>
        <div class="mdl-card__supporting-text">
          You can view when users arrive for each conference here.
        </div>

        <table class="mdl-data-table admin-transportation-details mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">First Name</th>
              <th class="mdl-data-table__cell--non-numeric">Last Name</th>
              <th class="mdl-data-table__cell--non-numeric">Conference</th>
              <th class="mdl-data-table__cell--non-numeric">Flight Number</th>
              <th class="mdl-data-table__cell--non-numeric">Arrival Time</th>
              <th class="mdl-data-table__cell--non-numeric">Departure Time</th>
            </tr>
          </thead>
          <tbody>
            {% for cr in conference_regs if cr.arrivalDatetime is not null or cr.departureDatetime is not null %}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ cr.user.firstName }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ cr.user.lastName }}</td>
                <td class="mdl-data-table__cell--non-numeric"><a href="{{ path('conference_show', {'conf_id': cr.conference.id}) }}">{{ cr.conference.name }}</td>
                <td class="mdl-data-table__cell--non-numeric">{% if cr.flightNumber is not null %} {{ cr.flightNumber }} {% else %} unknown {% endif %}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ cr.arrivalDatetime | date("m/d/Y H:i") }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ cr.departureDatetime | date("m/d/Y H:i") }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</main>
</div>

{% endblock body %}