{# app/Resources/views/event/event_show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock%}

{% block body %}
{# Added a check in the controller instead. Conf will always be defined now. #}
{# THIS TEMPLATE IS BASED OFF OF CONFERENCE PAGE #}

<div class="conference-cover">
	{% if event.imageName is null %}
	<img class="conference-cover-image" src="{{ asset('images/event/Default.png') }}"/>
	{% else %}
	<img class="conference-cover-image" src="{{ asset('images/event/' ~ event.imageName) }}"/>
	{% endif %}
</div>

<main class="mdl-layout__content-conference-show">
	<div class="page-content mdl-grid">	
		<div class="mdl-card conference-show-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">		
			<h2>{{ event.name }}</h2>

			<!-- Event details here -->
			<div class="mdl-card conference-details-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
			    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
					<h2 class="mdl-card__title-text">Details</h2>


					{% if is_granted('ROLE_CONFERENCE_MANAGER') %}
						<div class="mdl-card__menu">
							<button id="card-menu" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
								<i class="material-icons">more_vert</i>
							</button>

							<!-- Menu Button Options -->

							<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-menu" href="#">
								<li class="mdl-menu__item"><a href="#">
									Attendance List
								</a></li>
								<li class="mdl-menu__item"><a href="{{ path('event_edit', {'conf_id': conf_id, 'event_id': event.id}) }}">
									Edit Event
								</a></li>
								<li class="mdl-menu__item"><a id="delete_conf" data-toggle="modal" data-target="#deleteEventModal">
									Delete Event
								</a></li>
							</ul>
						</div>
					{% endif %}
				</div>
				
				<div class="mdl-card__supporting-text">
					{{ event.fullDescription }}
				</div>
				<ul class="conference-detail-list mdl-list">
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">room</i>
					  Location: {{ event.location }}
					</span>
				  </li>
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">access_time</i>
					  Start Date: {{ event.startDatetime | date("m/d/Y")}}
					</span>
				  </li>
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">access_time</i>
					  End Date: {{ event.endDatetime | date("m/d/Y")}}
					</span>
				  </li>
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">face</i>
					  Speaker: {{ event.speaker }}
					</span>
				  </li>
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">group</i>
					  Capacity: {{ event.capacity }}
					</span>
				  </li>
				</ul>
				
				<div class="mdl-card__actions mdl-card--border">
					{% if event_reg is not null %}
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('event_reg_delete', {'event_reg_id': event_reg.id}) }}">
							Leave Event
						</a>
                    {% else %}
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('event_reg_create', {'conf_id': conf_id, 'event_id': event.id}) }}">
							Join Event
						</a>
					{% endif %}
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('conference_show', {'conf_id': conf_id}) }}">
						View Conference
					</a>
				</div>
			</div>			
		</div>		
	</div>
</main>
</div>

<!-- Modal -->
<div id="deleteEventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Confirm Delete</h4>
	  </div>
	  <div class="modal-body">
		<p>Are you sure you want to delete this event?</p>
	  </div>
	  <div class="modal-footer">
		<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-dismiss="modal">Cancel</button>
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('event_delete', {'conf_id': conf_id, 'event_id': event.id}) }}">Delete</a>
	  </div>
	</div>
  </div>
</div>

{% endblock %}		