{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    {# TODO: add proper fields #}
    {# TODO: formatting #}
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    {# TODO: either display registrations here or have a link to them #}

    <ul>
        {% for conference_reg in conference_registrations %}
            <li> "Conference id: " {{ conference_reg.conference.id }}
            </li>
        {% endfor %}
    </ul>

</div>