{% trans_default_domain 'FOSUserBundle' %}

    {# TODO: add proper fields #}
    {# TODO: formatting #}

{# Added a check in the controller instead. User will always be defined now. #}
{# if user is defined #}
<div class="profile-ribbon">
	<img class="user-image" src="{{ asset('images/user/' ~ user.imageName) }}"/>
</div>

<main class="mdl-layout__content-profile-show">
	<div class="page-content mdl-grid">	
		<div class="mdl-card profile-show-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">		
			<h2>Hello, {{ user.name }}</h2>
			
			<!-- Profile details here -->
			<div class="mdl-card profile-details-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
			    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
					<h2 class="mdl-card__title-text">Overview</h2>
					<div class="menu-wrapper">
						<button id="menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
						  <i class="material-icons">more_vert</i>
						</button>
						
						<!-- Menu Button Options -->

						<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
							for="menu-lower-right" href="#">
						  <li class="mdl-menu__item"><a href="">Update Info</a></li>
						  <li class="mdl-menu__item"><a href="{{ path('user_delete') }}" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</a></li>
						</ul>
					</div>
				</div>
				<ul class="profile-detail-list mdl-list">
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">person</i>
					  Username: {{ user.username }}
					</span>
				  </li>
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">mail</i>
					  Email: {{ user.email }}
					</span>
				  </li>
				  <li class="mdl-list__item">
					<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-icon">call</i>
					  Phone: {{ user.phone }}
					</span>
				  </li>
				</ul>
			</div>
			
			<div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Your Conferences and Events</h2>
			</div>
			
			<!-- Joined Conferences and Events here -->
			{% if conference_registrations is empty %}
				<div class="mdl-card empty-conference-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
				  <div class="no-conference-icon">
						<i class="material-icons mdl-list__item-icon">event_busy</i>
				  </div>
				  <div class="mdl-card__title mdl-color-text--grey">
                    <h2 class="mdl-card__title-text">You didn't join any conferences yet</h2>
				  </div>
				</div>
			{% endif %}
			
			{% for conference_reg in conference_registrations %}
			
			{# TODO: Show joined conferences here #}
			{# TODO: Add edit and delete buttons on each registration #}
			  			
			{% endfor %}
			
			
		</div>
	</div>
</main>

{# endif #}
