{# app/Resources/views/hotel/hotel_reg_show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hotel Registration{% endblock%}

{% block body %}
    <main class="mdl-layout__content-conference-registration-show">
        <div class="page-content mdl-grid">
            <div class="mdl-card profile-show-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">

                <div class="mdl-card profile-details-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <h2 class="mdl-card__title-text">Hotel Registration</h2>
                        <div class="menu-wrapper">
                            <button id="menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_vert</i>
                            </button>

                            <!-- Menu Button Options -->

                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-right" href="#">
                                <li class="mdl-menu__item"><a href="{{ path('hotel_reg_edit', {'conf_reg_id': hotel_reg.conferenceRegistration.id}) }}">Update Registration</a></li>
                                <li id="delete_modal" class="mdl-menu__item" data-toggle="modal" data-target="#deleteHotelRegModal">Delete Registration</li>
                            </ul>

                            <div id="deleteHotelRegModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Confirm Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete the hotel registration?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-dismiss="modal">Cancel</button>
                                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('hotel_reg_delete', {'conf_reg_id': hotel_reg.conferenceRegistration.id}) }}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="hotel-reg-detail-list mdl-list">
                        <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">person</i>
                                  User: {{ hotel_reg.conferenceRegistration.user.username }} - {{ hotel_reg.conferenceRegistration.user.firstName }} {{ hotel_reg.conferenceRegistration.user.lastName }}
                                </span>
                        </li>
                        <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">event seat</i>
                                  Conference: {{ hotel_reg.conferenceRegistration.conference.name }}
                                </span>
                        </li>
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">home</i>
                              Hotel: {{ hotel_reg.hotel.name }}
                            </span>
                        </li>
                        {% if hotel_reg.room is not null %}
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">hotel</i>
                                    Rooms: {{ hotel_reg.room }}
                                </span>
                            </li>
                        {% endif %}
                        {% if hotel_reg.checkInDatetime is not null %}
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">schedule</i>
                                  Check In Time: {{ hotel_reg.checkInDatetime |date('Y-m-d H:i')}}
                                </span>
                            </li>
                        {% endif %}
                        {% if hotel_reg.checkOutDatetime is not null %}
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">schedule</i>
                                  Check Out Time: {{ hotel_reg.checkOutDatetime |date('Y-m-d H:i')}}
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}